.mediaViewInfo {
	--web-view-name: Artboard – 2;
	--web-view-id: Artboard__2;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Artboard__2;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Artboard__2 {
	position: absolute;
	width: 1350px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Artboard – 2;
	--web-view-id: Artboard__2;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#HEADER {
	position: absolute;
	width: 1350px;
	height: 53.004px;
	left: 0.5px;
	top: 20.496px;
	overflow: visible;
}
#AMS_LOGO_UNIT {
	mix-blend-mode: normal;
	position: absolute;
	width: 179.586px;
	height: 42.434px;
	left: 35.5px;
	top: 0px;
	overflow: visible;
}
#AMS_Logo {
	position: absolute;
	width: 31.323px;
	height: 40.379px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Accenture_Logo {
	position: absolute;
	width: 22.578px;
	height: 24.062px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_2617 {
	fill: rgba(161,0,255,1);
}
.Path_2617 {
	overflow: visible;
	position: absolute;
	width: 22.578px;
	height: 24.062px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#MS_Logo {
	position: absolute;
	width: 30.118px;
	height: 22.337px;
	left: 1.205px;
	top: 18.042px;
	overflow: visible;
}
#Path_2618_ce {
	fill: url(#Path_2618_ce);
}
.Path_2618_ce {
	overflow: visible;
	position: absolute;
	width: 18.059px;
	height: 15.319px;
	left: 3.82px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2619_cg {
	fill: url(#Path_2619_cg);
}
.Path_2619_cg {
	mix-blend-mode: multiply;
	overflow: visible;
	position: absolute;
	width: 18.059px;
	height: 15.319px;
	left: 3.82px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2620_ci {
	fill: url(#Path_2620_ci);
}
.Path_2620_ci {
	overflow: visible;
	position: absolute;
	width: 13.059px;
	height: 16.995px;
	left: 11.492px;
	top: 5.342px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2621_ck {
	opacity: 0.7;
	fill: url(#Path_2621_ck);
}
.Path_2621_ck {
	mix-blend-mode: overlay;
	overflow: visible;
	position: absolute;
	width: 7.783px;
	height: 6.911px;
	left: 16.768px;
	top: 5.34px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2622_cm {
	fill: url(#Path_2622_cm);
}
.Path_2622_cm {
	overflow: visible;
	position: absolute;
	width: 16.818px;
	height: 15.319px;
	left: 3.82px;
	top: 0.001px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2623_co {
	fill: url(#Path_2623_co);
}
.Path_2623_co {
	mix-blend-mode: multiply;
	overflow: visible;
	position: absolute;
	width: 16.818px;
	height: 15.319px;
	left: 3.82px;
	top: 0.001px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2624_cq {
	fill: url(#Path_2624_cq);
}
.Path_2624_cq {
	mix-blend-mode: multiply;
	overflow: visible;
	position: absolute;
	width: 8.6px;
	height: 7.328px;
	left: 11.492px;
	top: 15.004px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2625_cs {
	fill: url(#Path_2625_cs);
}
.Path_2625_cs {
	overflow: visible;
	position: absolute;
	width: 8.238px;
	height: 15.318px;
	left: 3.822px;
	top: 0.001px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2626 {
	fill: rgba(255,255,255,1);
}
.Path_2626 {
	overflow: visible;
	position: absolute;
	width: 18.234px;
	height: 13.677px;
	left: 11.885px;
	top: 5.734px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2627_cv {
	fill: url(#Path_2627_cv);
}
.Path_2627_cv {
	overflow: visible;
	position: absolute;
	width: 30.117px;
	height: 14.983px;
	left: 0px;
	top: 4.124px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2631 {
	fill: rgba(160,1,255,1);
}
.Path_2631 {
	overflow: visible;
	position: absolute;
	width: 150.719px;
	height: 9.931px;
	left: 28.867px;
	top: 32.504px;
	transform: matrix(1,0,0,1,0,0);
}
#Menu_Text {
	position: absolute;
	width: 744.085px;
	height: 8.575px;
	left: 322.502px;
	top: 28.2px;
	overflow: visible;
}
#Path_2733 {
	fill: rgba(0,0,0,1);
}
.Path_2733 {
	overflow: visible;
	position: absolute;
	width: 43.588px;
	height: 8.552px;
	left: -0.002px;
	top: 0.023px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2734 {
	fill: rgba(0,0,0,1);
}
.Path_2734 {
	overflow: visible;
	position: absolute;
	width: 22.936px;
	height: 8.341px;
	left: 86.666px;
	top: 0.129px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2735 {
	fill: rgba(0,0,0,1);
}
.Path_2735 {
	overflow: visible;
	position: absolute;
	width: 113.762px;
	height: 8.575px;
	left: 152.498px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2736 {
	fill: rgba(0,0,0,1);
}
.Path_2736 {
	overflow: visible;
	position: absolute;
	width: 92.762px;
	height: 8.575px;
	left: 309.164px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2737 {
	fill: rgba(0,0,0,1);
}
.Path_2737 {
	overflow: visible;
	position: absolute;
	width: 123.969px;
	height: 8.575px;
	left: 444.996px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2738 {
	fill: rgba(0,0,0,1);
}
.Path_2738 {
	overflow: visible;
	position: absolute;
	width: 26.693px;
	height: 8.552px;
	left: 611.662px;
	top: 0.023px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2739 {
	fill: rgba(0,0,0,1);
}
.Path_2739 {
	overflow: visible;
	position: absolute;
	width: 63.256px;
	height: 8.552px;
	left: 680.828px;
	top: 0.023px;
	transform: matrix(1,0,0,1,0,0);
}
#Icons {
	position: absolute;
	width: 134.996px;
	height: 19.623px;
	left: 1142.912px;
	top: 17.504px;
	overflow: visible;
}
#Icon_material-account-circle {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Icon_material-account-circle {
	overflow: visible;
	position: absolute;
	width: 19.281px;
	height: 19.281px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_material-shopping-cart {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Icon_material-shopping-cart {
	overflow: visible;
	position: absolute;
	width: 18.965px;
	height: 18.965px;
	left: 57.5px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Basket_Units {
	position: absolute;
	width: 15px;
	height: 15px;
	left: 69.588px;
	top: 4px;
	overflow: visible;
}
#Ellipse_279 {
	fill: rgba(160,1,255,1);
}
.Ellipse_279 {
	position: absolute;
	overflow: visible;
	width: 15px;
	height: 15px;
	left: 0px;
	top: 0px;
}
#Path_2674 {
	fill: rgba(255,255,255,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_2674 {
	overflow: visible;
	position: absolute;
	width: 3.318px;
	height: 8.661px;
	left: 5.412px;
	top: 3.917px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-heart {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Icon_ionic-ios-heart {
	overflow: visible;
	position: absolute;
	width: 20.162px;
	height: 19.542px;
	left: 115.834px;
	top: 1.198px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_29 {
	fill: transparent;
	stroke: rgba(216,216,216,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_29 {
	overflow: visible;
	position: absolute;
	width: 1350px;
	height: 2px;
	left: 0px;
	top: 53.004px;
	transform: matrix(1,0,0,1,0,0);
}
#MY_CART {
	position: absolute;
	width: 136.26px;
	height: 32.436px;
	left: 607px;
	top: 119.122px;
	overflow: visible;
}
#Path_2732 {
	fill: rgba(95,95,95,1);
}
.Path_2732 {
	overflow: visible;
	position: absolute;
	width: 136.26px;
	height: 32.436px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_169 {
	position: absolute;
	width: 1283.088px;
	height: 526.993px;
	left: 24px;
	top: 197.18px;
	overflow: visible;
}
#LEFT_UNIT {
	position: absolute;
	width: 610.452px;
	height: 240.405px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Line_34 {
	fill: transparent;
	stroke: rgba(208,208,208,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_34 {
	overflow: visible;
	position: absolute;
	width: 596.766px;
	height: 2px;
	left: 13.688px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Prod_HAIRSLEEK {
	position: absolute;
	width: 119.61px;
	height: 132.658px;
	left: 0px;
	top: 45.125px;
	overflow: visible;
}
#Rectangle_198_dk {
	fill: url(#Rectangle_198_dk);
}
.Rectangle_198_dk {
	position: absolute;
	overflow: visible;
	width: 94.6px;
	height: 132.658px;
	left: 13.049px;
	top: 0px;
}
#Male_Shampoo {
	position: absolute;
	width: 119.609px;
	height: 119.61px;
	left: 0px;
	top: 6.524px;
	overflow: visible;
}
#HAIRSLEEK_Name {
	position: absolute;
	width: 138.944px;
	height: 26.843px;
	left: 138.438px;
	top: 44.866px;
	overflow: visible;
}
#Path_2714 {
	fill: rgba(0,0,0,1);
}
.Path_2714 {
	overflow: visible;
	position: absolute;
	width: 58.309px;
	height: 8.038px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2715 {
	fill: rgba(0,0,0,1);
}
.Path_2715 {
	overflow: visible;
	position: absolute;
	width: 138.943px;
	height: 8.991px;
	left: 0px;
	top: 17.851px;
	transform: matrix(1,0,0,1,0,0);
}
#Price {
	position: absolute;
	width: 36.846px;
	height: 30.659px;
	left: 343.473px;
	top: 45.614px;
	overflow: visible;
}
#Path_2691 {
	fill: rgba(98,98,98,1);
}
.Path_2691 {
	overflow: visible;
	position: absolute;
	width: 20.395px;
	height: 7.274px;
	left: 0.705px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2683 {
	fill: rgba(0,0,0,1);
}
.Path_2683 {
	overflow: visible;
	position: absolute;
	width: 5.609px;
	height: 7.892px;
	left: 0px;
	top: 22.273px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2700 {
	fill: rgba(0,0,0,1);
}
.Path_2700 {
	overflow: visible;
	position: absolute;
	width: 27.977px;
	height: 9.285px;
	left: 8.869px;
	top: 21.374px;
	transform: matrix(1,0,0,1,0,0);
}
#Quantity {
	position: absolute;
	width: 68.504px;
	height: 36.323px;
	left: 442.557px;
	top: 45.773px;
	overflow: visible;
}
#Path_2748 {
	fill: rgba(98,98,98,1);
}
.Path_2748 {
	overflow: visible;
	position: absolute;
	width: 38.283px;
	height: 8.701px;
	left: 0.561px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_199 {
	fill: rgba(255,255,255,1);
	stroke: rgba(216,216,216,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_199 {
	position: absolute;
	overflow: visible;
	width: 68.504px;
	height: 21.747px;
	left: 0px;
	top: 14.575px;
}
#Path_2749 {
	fill: rgba(60,60,60,1);
}
.Path_2749 {
	overflow: visible;
	position: absolute;
	width: 2.674px;
	height: 6.711px;
	left: 5.904px;
	top: 22.991px;
	transform: matrix(1,0,0,1,0,0);
}
#Arrow {
	position: absolute;
	width: 6.636px;
	height: 3.319px;
	left: 55.66px;
	top: 25.792px;
	overflow: visible;
}
#Line_32 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_32 {
	overflow: visible;
	position: absolute;
	width: 0px;
	height: 4.693px;
	transform: translate(-0.001px, 0px) matrix(1,0,0,1,4.9769,-0.6867) rotate(45deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Line_33 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_33 {
	overflow: visible;
	position: absolute;
	width: 0px;
	height: 4.693px;
	transform: translate(-0.001px, 0px) matrix(1,0,0,1,1.6592,-0.6872) rotate(135deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Total {
	position: absolute;
	width: 36.768px;
	height: 30.659px;
	left: 573.029px;
	top: 45.614px;
	overflow: visible;
}
#Path_2692 {
	fill: rgba(98,98,98,1);
}
.Path_2692 {
	overflow: visible;
	position: absolute;
	width: 20.807px;
	height: 7.274px;
	left: 15.691px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2693 {
	fill: rgba(0,0,0,1);
}
.Path_2693 {
	overflow: visible;
	position: absolute;
	width: 5.609px;
	height: 7.892px;
	left: 0px;
	top: 21.416px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2701 {
	fill: rgba(0,0,0,1);
}
.Path_2701 {
	overflow: visible;
	position: absolute;
	width: 27.977px;
	height: 9.285px;
	left: 8.791px;
	top: 21.374px;
	transform: matrix(1,0,0,1,0,0);
}
#Edit_Menu {
	position: absolute;
	width: 245.129px;
	height: 7.321px;
	left: 143.117px;
	top: 191.032px;
	overflow: visible;
}
#Path_2695 {
	fill: rgba(98,98,98,1);
}
.Path_2695 {
	overflow: visible;
	position: absolute;
	width: 16.313px;
	height: 7.274px;
	left: 0px;
	top: 0.047px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2696 {
	fill: rgba(98,98,98,1);
}
.Path_2696 {
	overflow: visible;
	position: absolute;
	width: 34.961px;
	height: 6.805px;
	left: 36.76px;
	top: 0.516px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2697 {
	fill: rgba(98,98,98,1);
}
.Path_2697 {
	overflow: visible;
	position: absolute;
	width: 71.855px;
	height: 7.274px;
	left: 92.291px;
	top: 0.047px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2698 {
	fill: rgba(98,98,98,1);
}
.Path_2698 {
	overflow: visible;
	position: absolute;
	width: 60.961px;
	height: 7.321px;
	left: 184.168px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_35 {
	fill: transparent;
	stroke: rgba(208,208,208,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_35 {
	overflow: visible;
	position: absolute;
	width: 596.766px;
	height: 2px;
	left: 13.688px;
	top: 219.778px;
	transform: matrix(1,0,0,1,0,0);
}
#T_Total {
	position: absolute;
	width: 467.566px;
	height: 9.285px;
	left: 142.502px;
	top: 231.12px;
	overflow: visible;
}
#Path_2743 {
	fill: rgba(0,0,0,1);
}
.Path_2743 {
	overflow: visible;
	position: absolute;
	width: 29.883px;
	height: 7.938px;
	left: 0px;
	top: 0.782px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2742 {
	fill: rgba(0,0,0,1);
}
.Path_2742 {
	overflow: visible;
	position: absolute;
	width: 5.609px;
	height: 7.892px;
	left: 430.799px;
	top: 0.782px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2741 {
	fill: rgba(0,0,0,1);
}
.Path_2741 {
	overflow: visible;
	position: absolute;
	width: 27.977px;
	height: 9.285px;
	left: 439.59px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#PROMO_CODE {
	position: absolute;
	width: 376.227px;
	height: 59.169px;
	left: 906.861px;
	top: 3.354px;
	overflow: visible;
}
#Rectangle_200 {
	fill: rgba(255,255,255,1);
	stroke: rgba(183,183,183,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_200 {
	position: absolute;
	overflow: visible;
	width: 197.9px;
	height: 44.582px;
	left: 0px;
	top: 14.587px;
}
#Path_2703 {
	fill: rgba(199,199,199,1);
}
.Path_2703 {
	overflow: visible;
	position: absolute;
	width: 72.844px;
	height: 9.699px;
	left: 15.514px;
	top: 32.233px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_201 {
	fill: rgba(160,1,255,1);
}
.Rectangle_201 {
	position: absolute;
	overflow: visible;
	width: 180.502px;
	height: 44.582px;
	left: 195.725px;
	top: 14.587px;
}
#Path_2704 {
	fill: rgba(255,255,255,1);
}
.Path_2704 {
	overflow: visible;
	position: absolute;
	width: 41.947px;
	height: 9.699px;
	left: 267.59px;
	top: 32.233px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2705 {
	fill: rgba(98,98,98,1);
}
.Path_2705 {
	overflow: visible;
	position: absolute;
	width: 95.094px;
	height: 6.908px;
	left: 0.396px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Shipping_Cost {
	position: absolute;
	width: 376.078px;
	height: 10.714px;
	left: 906.109px;
	top: 105.188px;
	overflow: visible;
}
#Path_2706 {
	fill: rgba(136,136,136,1);
}
.Path_2706 {
	overflow: visible;
	position: absolute;
	width: 71.229px;
	height: 10.479px;
	left: 0px;
	top: 0.235px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2707 {
	fill: rgba(136,136,136,1);
}
.Path_2707 {
	overflow: visible;
	position: absolute;
	width: 20.488px;
	height: 7.829px;
	left: 355.59px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Discount {
	position: absolute;
	width: 375.53px;
	height: 10.681px;
	left: 906.592px;
	top: 131.671px;
	overflow: visible;
}
#Path_2716 {
	fill: rgba(136,136,136,1);
}
.Path_2716 {
	overflow: visible;
	position: absolute;
	width: 227.877px;
	height: 10.457px;
	left: 0px;
	top: 0.224px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2717 {
	fill: rgba(136,136,136,1);
}
.Path_2717 {
	overflow: visible;
	position: absolute;
	width: 44.406px;
	height: 8.048px;
	left: 331.123px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Tax {
	position: absolute;
	width: 376.143px;
	height: 8.83px;
	left: 905.979px;
	top: 158.264px;
	overflow: visible;
}
#Path_2710 {
	fill: rgba(136,136,136,1);
}
.Path_2710 {
	overflow: visible;
	position: absolute;
	width: 17.324px;
	height: 7.938px;
	left: 0px;
	top: 0.892px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2718 {
	fill: rgba(136,136,136,1);
}
.Path_2718 {
	overflow: visible;
	position: absolute;
	width: 45.688px;
	height: 8.048px;
	left: 330.455px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Estimated_Total {
	position: absolute;
	width: 374.49px;
	height: 15.918px;
	left: 907.232px;
	top: 197.175px;
	overflow: visible;
}
#Path_2728 {
	fill: rgba(92,92,92,1);
}
.Path_2728 {
	overflow: visible;
	position: absolute;
	width: 134.625px;
	height: 14.547px;
	left: 0.002px;
	top: 0.031px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2729 {
	fill: rgba(92,92,92,1);
}
.Path_2729 {
	overflow: visible;
	position: absolute;
	width: 95.762px;
	height: 15.918px;
	left: 278.729px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Free_Payment_CRAZYPAY {
	position: absolute;
	width: 278.365px;
	height: 54.368px;
	left: 1004.723px;
	top: 228.89px;
	overflow: visible;
}
#Rectangle_203 {
	fill: rgba(255,253,235,1);
	stroke: rgba(244,239,194,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_203 {
	position: absolute;
	overflow: visible;
	width: 278.365px;
	height: 54.368px;
	left: 0px;
	top: 0px;
}
#Message_Content {
	position: absolute;
	width: 233.285px;
	height: 37.101px;
	left: 22.213px;
	top: 8.553px;
	overflow: visible;
}
#Crazypay_Logo {
	position: absolute;
	width: 50.854px;
	height: 37.101px;
	left: 163.465px;
	top: 0px;
	overflow: visible;
}
#Crazypay_Logo_e {
	position: absolute;
	width: 50.854px;
	height: 37.101px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Logo {
	position: absolute;
	width: 40.157px;
	height: 31.509px;
	left: 1.959px;
	top: 0px;
	overflow: visible;
}
#Subtraction_1 {
	fill: rgba(255,0,0,1);
}
.Subtraction_1 {
	overflow: visible;
	position: absolute;
	width: 30.025px;
	height: 31.427px;
	left: 0.002px;
	top: 0.042px;
	transform: matrix(1,0,0,1,0,0);
}
#Subtraction_2 {
	fill: rgba(0,118,255,1);
}
.Subtraction_2 {
	overflow: visible;
	position: absolute;
	width: 10.131px;
	height: 31.509px;
	left: 30.025px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2746 {
	fill: rgba(0,118,255,1);
}
.Path_2746 {
	overflow: visible;
	position: absolute;
	width: 30.848px;
	height: 19.948px;
	left: 0px;
	top: 17.153px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2747 {
	fill: rgba(255,1,0,1);
}
.Path_2747 {
	overflow: visible;
	position: absolute;
	width: 18.523px;
	height: 16.798px;
	left: 32.33px;
	top: 20.156px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2750 {
	fill: rgba(136,136,136,1);
}
.Path_2750 {
	overflow: visible;
	position: absolute;
	width: 157.152px;
	height: 9.076px;
	left: -0.002px;
	top: 14.012px;
	transform: matrix(1,0,0,1,0,0);
}
#Info_Button {
	position: absolute;
	width: 14.078px;
	height: 14.078px;
	left: 219.205px;
	top: 11.666px;
	overflow: visible;
}
#Ellipse_280 {
	fill: rgba(255,255,255,1);
	stroke: rgba(181,181,181,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_280 {
	position: absolute;
	overflow: visible;
	width: 14.078px;
	height: 14.078px;
	left: 0px;
	top: 0px;
}
#i {
	display: none;
	left: -16.699px;
	top: 5.475px;
	position: absolute;
	overflow: visible;
	width: 3px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat Alternates;
	font-style: normal;
	font-weight: normal;
	font-size: 8px;
	color: rgba(170,170,170,1);
}
#Path_2745 {
	fill: rgba(170,170,170,1);
}
.Path_2745 {
	overflow: visible;
	position: absolute;
	width: 1.219px;
	height: 7.105px;
	left: 6.258px;
	top: 3.128px;
	transform: matrix(1,0,0,1,0,0);
}
#Get_Help {
	position: absolute;
	width: 76.756px;
	height: 59.077px;
	left: 1205.938px;
	top: 322.961px;
	overflow: visible;
}
#Icon_material-chat-bubble {
	fill: rgba(160,1,255,1);
}
.Icon_material-chat-bubble {
	overflow: visible;
	position: absolute;
	width: 76.756px;
	height: 59.077px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2730 {
	fill: rgba(255,255,255,1);
}
.Path_2730 {
	overflow: visible;
	position: absolute;
	width: 49.221px;
	height: 10.457px;
	left: 13.34px;
	top: 18.911px;
	transform: matrix(1,0,0,1,0,0);
}
#Prod_DENSE {
	position: absolute;
	width: 126.134px;
	height: 196.358px;
	left: 4.35px;
	top: 328.927px;
	overflow: visible;
}
#Rectangle_198_fg {
	fill: url(#Rectangle_198_fg);
}
.Rectangle_198_fg {
	position: absolute;
	overflow: visible;
	width: 107.648px;
	height: 153.318px;
	left: 8.699px;
	top: 0px;
}
#Male_Serum {
	position: absolute;
	width: 126.135px;
	height: 126.134px;
	left: 0px;
	top: 13.048px;
	overflow: visible;
}
#DENSE_Name {
	position: absolute;
	width: 47.604px;
	height: 25.219px;
	left: 39.512px;
	top: 171.139px;
	overflow: visible;
}
#Path_2720 {
	fill: rgba(0,0,0,1);
}
.Path_2720 {
	overflow: visible;
	position: absolute;
	width: 34.404px;
	height: 8.038px;
	left: 7.223px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2721 {
	fill: rgba(0,0,0,1);
}
.Path_2721 {
	overflow: visible;
	position: absolute;
	width: 47.604px;
	height: 7.048px;
	left: 0px;
	top: 18.171px;
	transform: matrix(1,0,0,1,0,0);
}
#Prod_MISHU {
	position: absolute;
	width: 133.746px;
	height: 196.358px;
	left: 218.561px;
	top: 328.927px;
	overflow: visible;
}
#Rectangle_198_fn {
	fill: url(#Rectangle_198_fn);
}
.Rectangle_198_fn {
	position: absolute;
	overflow: visible;
	width: 107.648px;
	height: 153.318px;
	left: 13.049px;
	top: 0px;
}
#Male_Conditioner {
	position: absolute;
	width: 133.746px;
	height: 133.746px;
	left: 0px;
	top: 9.787px;
	overflow: visible;
}
#MISHU_Name {
	position: absolute;
	width: 71.415px;
	height: 25.219px;
	left: 31.002px;
	top: 171.139px;
	overflow: visible;
}
#Path_2722 {
	fill: rgba(0,0,0,1);
}
.Path_2722 {
	overflow: visible;
	position: absolute;
	width: 34.471px;
	height: 8.038px;
	left: 18.713px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2723 {
	fill: rgba(0,0,0,1);
}
.Path_2723 {
	overflow: visible;
	position: absolute;
	width: 71.414px;
	height: 7.339px;
	left: 0px;
	top: 17.88px;
	transform: matrix(1,0,0,1,0,0);
}
#Prod_DENSIFIQUE {
	position: absolute;
	width: 127.221px;
	height: 198.066px;
	left: 439.293px;
	top: 328.927px;
	overflow: visible;
}
#Rectangle_198_fu {
	fill: url(#Rectangle_198_fu);
}
.Rectangle_198_fu {
	position: absolute;
	overflow: visible;
	width: 107.648px;
	height: 153.318px;
	left: 10.875px;
	top: 0px;
}
#Male_Hair_Strength {
	position: absolute;
	width: 127.221px;
	height: 127.221px;
	left: 0px;
	top: 13.048px;
	overflow: visible;
}
#DENSIFIQUE_Name {
	position: absolute;
	width: 109.706px;
	height: 26.938px;
	left: 9.787px;
	top: 171.128px;
	overflow: visible;
}
#Path_2724 {
	fill: rgba(0,0,0,1);
}
.Path_2724 {
	overflow: visible;
	position: absolute;
	width: 109.705px;
	height: 8.935px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2725 {
	fill: rgba(0,0,0,1);
}
.Path_2725 {
	overflow: visible;
	position: absolute;
	width: 71.986px;
	height: 9.047px;
	left: 18.867px;
	top: 17.891px;
	transform: matrix(1,0,0,1,0,0);
}
#Prod_NATURLICH {
	position: absolute;
	width: 123.959px;
	height: 197.981px;
	left: 652.418px;
	top: 328.927px;
	overflow: visible;
}
#Rectangle_198_ga {
	fill: url(#Rectangle_198_ga);
}
.Rectangle_198_ga {
	position: absolute;
	overflow: visible;
	width: 108.736px;
	height: 153.318px;
	left: 9.785px;
	top: 0px;
}
#Male_Hair_Color {
	position: absolute;
	width: 123.959px;
	height: 123.959px;
	left: 0px;
	top: 15.223px;
	overflow: visible;
}
#NATURLICH_Name {
	position: absolute;
	width: 60.52px;
	height: 26.865px;
	left: 34.541px;
	top: 171.117px;
	overflow: visible;
}
#Path_2726 {
	fill: rgba(0,0,0,1);
}
.Path_2726 {
	overflow: visible;
	position: absolute;
	width: 60.52px;
	height: 8.059px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2744 {
	fill: rgba(0,0,0,1);
}
.Path_2744 {
	overflow: visible;
	position: absolute;
	width: 35.768px;
	height: 8.672px;
	left: 12.59px;
	top: 18.193px;
	transform: matrix(1,0,0,1,0,0);
}
#Checkout {
	position: absolute;
	width: 263.142px;
	height: 45.669px;
	left: 962.314px;
	top: 480.071px;
	overflow: visible;
}
#Rectangle_202 {
	fill: rgba(160,1,255,1);
}
.Rectangle_202 {
	position: absolute;
	overflow: visible;
	width: 263.143px;
	height: 45.669px;
	left: 0px;
	top: 0px;
}
#Text__Icon {
	position: absolute;
	width: 77.512px;
	height: 16.521px;
	left: 92.777px;
	top: 13.844px;
	overflow: visible;
}
#Path_2731 {
	fill: rgba(255,255,255,1);
}
.Path_2731 {
	overflow: visible;
	position: absolute;
	width: 56.602px;
	height: 9.699px;
	left: 20.912px;
	top: 4.505px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_material-lock-outline {
	fill: rgba(255,255,255,1);
}
.Icon_material-lock-outline {
	overflow: visible;
	position: absolute;
	width: 12.588px;
	height: 16.521px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}