.mediaViewInfo {
	--web-view-name: Web E-Com 1B – 1;
	--web-view-id: Web_E-Com_1B__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_E-Com_1B__1;
}
body{
	height:100%;
	width:100%;
	overflow:hidden;
	
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_E-Com_1B__1 {
	position: absolute;
	width: 900px;
	height: 958px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Web E-Com 1B – 1;
	--web-view-id: Web_E-Com_1B__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#HEADER {
	position: absolute;
	width: 1196.5px;
	height: 46.977px;
	left: 0.5px;
	top: 20.496px;
	overflow: visible;
}
#AMS_LOGO_UNIT {
	mix-blend-mode: normal;
	position: absolute;
	width: 159.166px;
	height: 37.61px;
	left: 31.463px;
	top: 0px;
	overflow: visible;
}
#AMS_Logo {
	position: absolute;
	width: 27.761px;
	height: 35.788px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Accenture_Logo {
	position: absolute;
	width: 20.011px;
	height: 21.326px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_2617 {
	fill: rgba(161,0,255,1);
}
.Path_2617 {
	overflow: visible;
	position: absolute;
	width: 20.012px;
	height: 21.326px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#MS_Logo {
	position: absolute;
	width: 26.693px;
	height: 19.797px;
	left: 1.068px;
	top: 15.991px;
	overflow: visible;
}
#Path_2618_ci {
	fill: url(#Path_2618_ci);
}
.Path_2618_ci {
	overflow: visible;
	position: absolute;
	width: 16.006px;
	height: 13.577px;
	left: 3.387px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2619_ck {
	fill: url(#Path_2619_ck);
}
.Path_2619_ck {
	mix-blend-mode: multiply;
	overflow: visible;
	position: absolute;
	width: 16.006px;
	height: 13.577px;
	left: 3.387px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2620_cm {
	fill: url(#Path_2620_cm);
}
.Path_2620_cm {
	overflow: visible;
	position: absolute;
	width: 11.574px;
	height: 15.063px;
	left: 10.186px;
	top: 4.734px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2621_co {
	opacity: 0.7;
	fill: url(#Path_2621_co);
}
.Path_2621_co {
	mix-blend-mode: overlay;
	overflow: visible;
	position: absolute;
	width: 6.898px;
	height: 6.125px;
	left: 14.861px;
	top: 4.732px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2622_cq {
	fill: url(#Path_2622_cq);
}
.Path_2622_cq {
	overflow: visible;
	position: absolute;
	width: 14.906px;
	height: 13.578px;
	left: 3.387px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2623_cs {
	fill: url(#Path_2623_cs);
}
.Path_2623_cs {
	mix-blend-mode: multiply;
	overflow: visible;
	position: absolute;
	width: 14.906px;
	height: 13.578px;
	left: 3.387px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2624_cu {
	fill: url(#Path_2624_cu);
}
.Path_2624_cu {
	mix-blend-mode: multiply;
	overflow: visible;
	position: absolute;
	width: 7.621px;
	height: 6.494px;
	left: 10.186px;
	top: 13.298px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2625_cw {
	fill: url(#Path_2625_cw);
}
.Path_2625_cw {
	overflow: visible;
	position: absolute;
	width: 7.303px;
	height: 13.576px;
	left: 3.387px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2626 {
	fill: rgba(255,255,255,1);
}
.Path_2626 {
	overflow: visible;
	position: absolute;
	width: 16.16px;
	height: 12.122px;
	left: 10.533px;
	top: 5.082px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2627_cz {
	fill: url(#Path_2627_cz);
}
.Path_2627_cz {
	overflow: visible;
	position: absolute;
	width: 26.693px;
	height: 13.28px;
	left: 0px;
	top: 3.654px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2631 {
	fill: rgba(160,1,255,1);
}
.Path_2631 {
	overflow: visible;
	position: absolute;
	width: 133.582px;
	height: 8.801px;
	left: 25.586px;
	top: 28.808px;
	transform: matrix(1,0,0,1,0,0);
}
#Menu_Text {
	position: absolute;
	width: 659.48px;
	height: 7.6px;
	left: 285.832px;
	top: 24.994px;
	overflow: visible;
}
#Path_2733 {
	fill: rgba(0,0,0,1);
}
.Path_2733 {
	overflow: visible;
	position: absolute;
	width: 38.631px;
	height: 7.58px;
	left: -0.002px;
	top: 0.021px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2734 {
	fill: rgba(0,0,0,1);
}
.Path_2734 {
	overflow: visible;
	position: absolute;
	width: 20.328px;
	height: 7.393px;
	left: 76.811px;
	top: 0.114px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2735 {
	fill: rgba(0,0,0,1);
}
.Path_2735 {
	overflow: visible;
	position: absolute;
	width: 100.826px;
	height: 7.6px;
	left: 135.158px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2736 {
	fill: rgba(0,0,0,1);
}
.Path_2736 {
	overflow: visible;
	position: absolute;
	width: 82.215px;
	height: 7.6px;
	left: 274.012px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2737 {
	fill: rgba(0,0,0,1);
}
.Path_2737 {
	overflow: visible;
	position: absolute;
	width: 109.873px;
	height: 7.6px;
	left: 394.398px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2738 {
	fill: rgba(0,0,0,1);
}
.Path_2738 {
	overflow: visible;
	position: absolute;
	width: 23.658px;
	height: 7.58px;
	left: 542.115px;
	top: 0.021px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2739 {
	fill: rgba(0,0,0,1);
}
.Path_2739 {
	overflow: visible;
	position: absolute;
	width: 56.064px;
	height: 7.58px;
	left: 603.416px;
	top: 0.021px;
	transform: matrix(1,0,0,1,0,0);
}
#Icons {
	position: absolute;
	width: 119.646px;
	height: 17.392px;
	left: 1012.959px;
	top: 15.514px;
	overflow: visible;
}
#Icon_material-account-circle {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Icon_material-account-circle {
	overflow: visible;
	position: absolute;
	width: 17.201px;
	height: 17.202px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_material-shopping-cart {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Icon_material-shopping-cart {
	overflow: visible;
	position: absolute;
	width: 16.922px;
	height: 16.922px;
	left: 50.963px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Basket_Units {
	position: absolute;
	width: 13px;
	height: 13px;
	left: 61.541px;
	top: 3.99px;
	overflow: visible;
}
#Ellipse_279 {
	fill: rgba(160,1,255,1);
}
.Ellipse_279 {
	position: absolute;
	overflow: visible;
	width: 13px;
	height: 13px;
	left: 0px;
	top: 0px;
}
#Path_2674 {
	fill: rgba(255,255,255,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_2674 {
	overflow: visible;
	position: absolute;
	width: 2.998px;
	height: 7.733px;
	left: 4.932px;
	top: 3.026px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-heart {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Icon_ionic-ios-heart {
	overflow: visible;
	position: absolute;
	width: 17.984px;
	height: 17.446px;
	left: 102.662px;
	top: 1.062px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_29 {
	fill: transparent;
	stroke: rgba(216,216,216,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_29 {
	overflow: visible;
	position: absolute;
	width: 1196.5px;
	height: 2px;
	left: 0px;
	top: 46.977px;
	transform: matrix(1,0,0,1,0,0);
}
#MY_CART {
	position: absolute;
	width: 120.767px;
	height: 28.748px;
	left: 538.039px;
	top: 122.089px;
	overflow: visible;
}
#Path_2732 {
	fill: rgba(95,95,95,1);
}
.Path_2732 {
	overflow: visible;
	position: absolute;
	width: 120.768px;
	height: 28.748px;
	left: -0.002px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_169 {
	position: absolute;
	width: 1154.844px;
	height: 474.447px;
	left: 21.328px;
	top: 199.248px;
	overflow: visible;
}
#LEFT_UNIT {
	position: absolute;
	width: 549.585px;
	height: 216.435px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Line_34 {
	fill: transparent;
	stroke: rgba(208,208,208,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_34 {
	overflow: visible;
	position: absolute;
	width: 537.262px;
	height: 2px;
	left: 12.322px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Prod_HAIRSLEEK {
	position: absolute;
	width: 108.128px;
	height: 118.764px;
	left: 0px;
	top: 41.213px;
	overflow: visible;
}
#Rectangle_198_do {
	fill: url(#Rectangle_198_do);
}
.Rectangle_198_do {
	position: absolute;
	overflow: visible;
	width: 84.197px;
	height: 118.764px;
	left: 11.521px;
	top: 0px;
}
#Male_Shampoo {
	position: absolute;
	width: 108.129px;
	height: 108.128px;
	left: 0px;
	top: 5.318px;
	overflow: visible;
}
#HAIRSLEEK_Name {
	position: absolute;
	width: 125.09px;
	height: 24.166px;
	left: 124.633px;
	top: 40.393px;
	overflow: visible;
}
#Path_2714 {
	fill: rgba(0,0,0,1);
}
.Path_2714 {
	overflow: visible;
	position: absolute;
	width: 52.494px;
	height: 7.236px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2715 {
	fill: rgba(0,0,0,1);
}
.Path_2715 {
	overflow: visible;
	position: absolute;
	width: 125.09px;
	height: 8.095px;
	left: 0px;
	top: 16.071px;
	transform: matrix(1,0,0,1,0,0);
}
#Price {
	position: absolute;
	width: 33.172px;
	height: 27.602px;
	left: 309.225px;
	top: 41.065px;
	overflow: visible;
}
#Path_2691 {
	fill: rgba(98,98,98,1);
}
.Path_2691 {
	overflow: visible;
	position: absolute;
	width: 18.361px;
	height: 6.549px;
	left: 0.637px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2683 {
	fill: rgba(0,0,0,1);
}
.Path_2683 {
	overflow: visible;
	position: absolute;
	width: 5.049px;
	height: 7.104px;
	left: 0px;
	top: 20.053px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2700 {
	fill: rgba(0,0,0,1);
}
.Path_2700 {
	overflow: visible;
	position: absolute;
	width: 25.188px;
	height: 8.359px;
	left: 7.986px;
	top: 19.243px;
	transform: matrix(1,0,0,1,0,0);
}
#Quantity {
	position: absolute;
	width: 61.154px;
	height: 32.796px;
	left: 398.834px;
	top: 41.209px;
	overflow: visible;
}
#Path_2748 {
	fill: rgba(98,98,98,1);
}
.Path_2748 {
	overflow: visible;
	position: absolute;
	width: 34.465px;
	height: 7.833px;
	left: 0.102px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_199 {
	fill: rgba(255,255,255,1);
	stroke: rgba(216,216,216,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_199 {
	position: absolute;
	overflow: visible;
	width: 61.154px;
	height: 19.499px;
	left: 0px;
	top: 13.298px;
}
#Path_2749 {
	fill: rgba(60,60,60,1);
}
.Path_2749 {
	overflow: visible;
	position: absolute;
	width: 2.408px;
	height: 6.042px;
	left: 4.912px;
	top: 20.699px;
	transform: matrix(1,0,0,1,0,0);
}
#Arrow {
	position: absolute;
	width: 5.974px;
	height: 2.988px;
	left: 49.705px;
	top: 23.22px;
	overflow: visible;
}
#Line_32 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_32 {
	overflow: visible;
	position: absolute;
	width: 0px;
	height: 4.225px;
	transform: translate(0.001px, 0px) matrix(1,0,0,1,4.4807,-0.6183) rotate(45deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Line_33 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_33 {
	overflow: visible;
	position: absolute;
	width: 0px;
	height: 4.225px;
	transform: translate(0.001px, 0px) matrix(1,0,0,1,1.4937,-0.6187) rotate(135deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Total {
	position: absolute;
	width: 33.102px;
	height: 27.602px;
	left: 515.893px;
	top: 41.065px;
	overflow: visible;
}
#Path_2692 {
	fill: rgba(98,98,98,1);
}
.Path_2692 {
	overflow: visible;
	position: absolute;
	width: 18.732px;
	height: 6.549px;
	left: 14.127px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2693 {
	fill: rgba(0,0,0,1);
}
.Path_2693 {
	overflow: visible;
	position: absolute;
	width: 5.049px;
	height: 7.104px;
	left: 0px;
	top: 19.28px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2701 {
	fill: rgba(0,0,0,1);
}
.Path_2701 {
	overflow: visible;
	position: absolute;
	width: 25.188px;
	height: 8.359px;
	left: 7.916px;
	top: 19.243px;
	transform: matrix(1,0,0,1,0,0);
}
#Edit_Menu {
	position: absolute;
	width: 220.687px;
	height: 6.591px;
	left: 128.848px;
	top: 171.985px;
	overflow: visible;
}
#Path_2695 {
	fill: rgba(98,98,98,1);
}
.Path_2695 {
	overflow: visible;
	position: absolute;
	width: 14.686px;
	height: 6.549px;
	left: 0px;
	top: 0.042px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2696 {
	fill: rgba(98,98,98,1);
}
.Path_2696 {
	overflow: visible;
	position: absolute;
	width: 31.475px;
	height: 6.126px;
	left: 33.094px;
	top: 0.464px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2697 {
	fill: rgba(98,98,98,1);
}
.Path_2697 {
	overflow: visible;
	position: absolute;
	width: 64.691px;
	height: 6.549px;
	left: 83.09px;
	top: 0.042px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2698 {
	fill: rgba(98,98,98,1);
}
.Path_2698 {
	overflow: visible;
	position: absolute;
	width: 54.883px;
	height: 6.591px;
	left: 165.805px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_35 {
	fill: transparent;
	stroke: rgba(208,208,208,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_35 {
	overflow: visible;
	position: absolute;
	width: 537.262px;
	height: 2px;
	left: 12.322px;
	top: 197.865px;
	transform: matrix(1,0,0,1,0,0);
}
#T_Total {
	position: absolute;
	width: 420.946px;
	height: 8.36px;
	left: 128.293px;
	top: 208.075px;
	overflow: visible;
}
#Path_2743 {
	fill: rgba(0,0,0,1);
}
.Path_2743 {
	overflow: visible;
	position: absolute;
	width: 26.902px;
	height: 7.147px;
	left: 0px;
	top: 0.704px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2742 {
	fill: rgba(0,0,0,1);
}
.Path_2742 {
	overflow: visible;
	position: absolute;
	width: 5.049px;
	height: 7.104px;
	left: 387.846px;
	top: 0.704px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2741 {
	fill: rgba(0,0,0,1);
}
.Path_2741 {
	overflow: visible;
	position: absolute;
	width: 25.188px;
	height: 8.359px;
	left: 395.76px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#PROMO_CODE {
	position: absolute;
	width: 338.048px;
	height: 54.147px;
	left: 816.797px;
	top: 3.019px;
	overflow: visible;
}
#Rectangle_200 {
	fill: rgba(255,255,255,1);
	stroke: rgba(183,183,183,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_200 {
	position: absolute;
	overflow: visible;
	width: 177.26px;
	height: 41.656px;
	left: 0.369px;
	top: 12.491px;
}
#Path_2703 {
	fill: rgba(199,199,199,1);
}
.Path_2703 {
	overflow: visible;
	position: absolute;
	width: 65.58px;
	height: 8.731px;
	left: 13.609px;
	top: 29.02px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_201 {
	fill: rgba(160,1,255,1);
}
.Rectangle_201 {
	position: absolute;
	overflow: visible;
	width: 161.307px;
	height: 41.656px;
	left: 176.742px;
	top: 12.491px;
}
#Path_2704 {
	fill: rgba(255,255,255,1);
}
.Path_2704 {
	overflow: visible;
	position: absolute;
	width: 37.766px;
	height: 8.731px;
	left: 240.553px;
	top: 29.02px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2705 {
	fill: rgba(98,98,98,1);
}
.Path_2705 {
	overflow: visible;
	position: absolute;
	width: 85.613px;
	height: 6.219px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Shipping_Cost {
	position: absolute;
	width: 338.58px;
	height: 9.645px;
	left: 815.764px;
	top: 94.7px;
	overflow: visible;
}
#Path_2706 {
	fill: rgba(136,136,136,1);
}
.Path_2706 {
	overflow: visible;
	position: absolute;
	width: 64.127px;
	height: 9.434px;
	left: -0.002px;
	top: 0.211px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2707 {
	fill: rgba(136,136,136,1);
}
.Path_2707 {
	overflow: visible;
	position: absolute;
	width: 18.445px;
	height: 7.048px;
	left: 320.135px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Discount {
	position: absolute;
	width: 338.087px;
	height: 9.616px;
	left: 816.197px;
	top: 118.542px;
	overflow: visible;
}
#Path_2716 {
	fill: rgba(136,136,136,1);
}
.Path_2716 {
	overflow: visible;
	position: absolute;
	width: 205.154px;
	height: 9.414px;
	left: 0px;
	top: 0.202px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2717 {
	fill: rgba(136,136,136,1);
}
.Path_2717 {
	overflow: visible;
	position: absolute;
	width: 39.979px;
	height: 7.246px;
	left: 298.107px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Tax {
	position: absolute;
	width: 338.639px;
	height: 7.95px;
	left: 815.645px;
	top: 142.483px;
	overflow: visible;
}
#Path_2710 {
	fill: rgba(136,136,136,1);
}
.Path_2710 {
	overflow: visible;
	position: absolute;
	width: 15.596px;
	height: 7.147px;
	left: 0px;
	top: 0.803px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2718 {
	fill: rgba(136,136,136,1);
}
.Path_2718 {
	overflow: visible;
	position: absolute;
	width: 41.133px;
	height: 7.246px;
	left: 297.506px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Estimated_Total {
	position: absolute;
	width: 337.15px;
	height: 14.331px;
	left: 816.773px;
	top: 177.515px;
	overflow: visible;
}
#Path_2728 {
	fill: rgba(92,92,92,1);
}
.Path_2728 {
	overflow: visible;
	position: absolute;
	width: 121.203px;
	height: 13.097px;
	left: 0.002px;
	top: 0.028px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2729 {
	fill: rgba(92,92,92,1);
}
.Path_2729 {
	overflow: visible;
	position: absolute;
	width: 86.213px;
	height: 14.331px;
	left: 250.938px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Free_Payment_CRAZYPAY {
	position: absolute;
	width: 268.548px;
	height: 48.746px;
	left: 886.297px;
	top: 206.063px;
	overflow: visible;
}
#Rectangle_203 {
	fill: rgba(255,253,235,1);
	stroke: rgba(244,239,194,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_203 {
	position: absolute;
	overflow: visible;
	width: 268.547px;
	height: 48.746px;
	left: 0px;
	top: 0px;
}
#Group_168 {
	position: absolute;
	width: 226.955px;
	height: 34.81px;
	left: 20.99px;
	top: 6.94px;
	overflow: visible;
}
#Crazypay_Logo {
	position: absolute;
	width: 48.942px;
	height: 34.81px;
	left: 163.227px;
	top: 0px;
	overflow: visible;
}
#Logo {
	transform: translate(0px, 0px) matrix(1,0,0,1,7.1921,-3.9592) rotate(90deg);
	transform-origin: center;
	position: absolute;
	width: 28.846px;
	height: 36.764px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Subtraction_1 {
	fill: rgba(255,0,0,1);
}
.Subtraction_1 {
	overflow: visible;
	position: absolute;
	width: 27.488px;
	height: 28.771px;
	left: 0px;
	top: 0.037px;
	transform: matrix(1,0,0,1,0,0);
}
#Subtraction_2 {
	fill: rgba(0,118,255,1);
}
.Subtraction_2 {
	overflow: visible;
	position: absolute;
	width: 9.277px;
	height: 28.846px;
	left: 27.486px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#CRAZY {
	display: none;
	transform: translate(0px, 0px) matrix(1,0,0,1,0.395,17.8618) rotate(28deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat Alternates;
	font-style: normal;
	font-weight: normal;
	font-size: 7px;
	color: rgba(0,118,255,1);
}
#Path_2746 {
	fill: rgba(0,118,255,1);
}
.Path_2746 {
	overflow: visible;
	position: absolute;
	width: 29.997px;
	height: 6.878px;
	transform: translate(0px, 0px) matrix(1,0,0,1,-0.1411,21.293) rotate(28deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#PAY {
	display: none;
	transform: translate(0px, 0px) matrix(1,0,0,1,29.854,21.8402) rotate(-38deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 17px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat Alternates;
	font-style: normal;
	font-weight: normal;
	font-size: 7px;
	color: rgba(255,1,0,1);
}
#Path_2747 {
	fill: rgba(255,1,0,1);
}
.Path_2747 {
	overflow: visible;
	position: absolute;
	width: 17.398px;
	height: 6.878px;
	transform: translate(0px, 0px) matrix(1,0,0,1,31.2708,23.0328) rotate(-38deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_2751 {
	fill: rgba(136,136,136,1);
}
.Path_2751 {
	overflow: visible;
	position: absolute;
	width: 158.078px;
	height: 8.171px;
	left: 0px;
	top: 13.863px;
	transform: matrix(1,0,0,1,0,0);
}
#Info_Button {
	position: absolute;
	width: 12.675px;
	height: 12.675px;
	left: 214.281px;
	top: 10.562px;
	overflow: visible;
}
#Ellipse_280 {
	fill: rgba(255,255,255,1);
	stroke: rgba(181,181,181,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_280 {
	position: absolute;
	overflow: visible;
	width: 12.674px;
	height: 12.675px;
	left: 0px;
	top: 0px;
}
#i {
	display: none;
	left: -15.037px;
	top: 4.929px;
	position: absolute;
	overflow: visible;
	width: 2px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat Alternates;
	font-style: normal;
	font-weight: normal;
	font-size: 5px;
	color: rgba(170,170,170,1);
}
#Path_2745 {
	fill: rgba(170,170,170,1);
}
.Path_2745 {
	overflow: visible;
	position: absolute;
	width: 1.098px;
	height: 6.396px;
	left: 5.633px;
	top: 2.816px;
	transform: matrix(1,0,0,1,0,0);
}
#Get_Help {
	position: absolute;
	width: 69.102px;
	height: 53.186px;
	left: 1085.695px;
	top: 290.759px;
	overflow: visible;
}
#Icon_material-chat-bubble {
	fill: rgba(160,1,255,1);
}
.Icon_material-chat-bubble {
	overflow: visible;
	position: absolute;
	width: 69.102px;
	height: 53.186px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2730 {
	fill: rgba(255,255,255,1);
}
.Path_2730 {
	overflow: visible;
	position: absolute;
	width: 44.313px;
	height: 9.414px;
	left: 12.01px;
	top: 17.025px;
	transform: matrix(1,0,0,1,0,0);
}
#Prod_DENSE {
	position: absolute;
	width: 113.446px;
	height: 177.33px;
	left: 3.545px;
	top: 295.58px;
	overflow: visible;
}
#Rectangle_198_fl {
	fill: url(#Rectangle_198_fl);
}
.Rectangle_198_fl {
	position: absolute;
	overflow: visible;
	width: 98.379px;
	height: 138.262px;
	left: 7.977px;
	top: 0px;
}
#Male_Serum {
	position: absolute;
	width: 113.445px;
	height: 113.446px;
	left: 0px;
	top: 13.294px;
	overflow: visible;
}
#DENSE_Name {
	position: absolute;
	width: 42.857px;
	height: 22.704px;
	left: 35.943px;
	top: 154.625px;
	overflow: visible;
}
#Path_2720 {
	fill: rgba(0,0,0,1);
}
.Path_2720 {
	overflow: visible;
	position: absolute;
	width: 30.973px;
	height: 7.236px;
	left: 6.502px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2721 {
	fill: rgba(0,0,0,1);
}
.Path_2721 {
	overflow: visible;
	position: absolute;
	width: 42.857px;
	height: 6.346px;
	left: 0px;
	top: 16.359px;
	transform: matrix(1,0,0,1,0,0);
}
#Prod_MISHU {
	position: absolute;
	width: 120.536px;
	height: 177.33px;
	left: 196.756px;
	top: 295.58px;
	overflow: visible;
}
#Rectangle_198_fs {
	fill: url(#Rectangle_198_fs);
}
.Rectangle_198_fs {
	position: absolute;
	overflow: visible;
	width: 97.492px;
	height: 138.262px;
	left: 11.523px;
	top: 0px;
}
#Male_Conditioner {
	position: absolute;
	width: 120.537px;
	height: 120.536px;
	left: 0px;
	top: 8.863px;
	overflow: visible;
}
#MISHU_Name {
	position: absolute;
	width: 64.294px;
	height: 22.704px;
	left: 27.922px;
	top: 154.625px;
	overflow: visible;
}
#Path_2722 {
	fill: rgba(0,0,0,1);
}
.Path_2722 {
	overflow: visible;
	position: absolute;
	width: 31.033px;
	height: 7.236px;
	left: 16.848px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2723 {
	fill: rgba(0,0,0,1);
}
.Path_2723 {
	overflow: visible;
	position: absolute;
	width: 64.295px;
	height: 6.607px;
	left: 0px;
	top: 16.097px;
	transform: matrix(1,0,0,1,0,0);
}
#Prod_DENSIFIQUE {
	position: absolute;
	width: 113.446px;
	height: 178.867px;
	left: 396.174px;
	top: 295.58px;
	overflow: visible;
}
#Rectangle_198_fz {
	fill: url(#Rectangle_198_fz);
}
.Rectangle_198_fz {
	position: absolute;
	overflow: visible;
	width: 96.605px;
	height: 138.262px;
	left: 8.863px;
	top: 0px;
}
#Male_Hair_Strength {
	position: absolute;
	width: 113.445px;
	height: 113.446px;
	left: 0px;
	top: 13.294px;
	overflow: visible;
}
#DENSIFIQUE_Name {
	position: absolute;
	width: 98.768px;
	height: 24.252px;
	left: 8.129px;
	top: 154.615px;
	overflow: visible;
}
#Path_2724 {
	fill: rgba(0,0,0,1);
}
.Path_2724 {
	overflow: visible;
	position: absolute;
	width: 98.768px;
	height: 8.044px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2725 {
	fill: rgba(0,0,0,1);
}
.Path_2725 {
	overflow: visible;
	position: absolute;
	width: 64.809px;
	height: 8.146px;
	left: 16.986px;
	top: 16.107px;
	transform: matrix(1,0,0,1,0,0);
}
#Prod_NATURLICH {
	position: absolute;
	width: 111.673px;
	height: 178.791px;
	left: 587.613px;
	top: 295.58px;
	overflow: visible;
}
#Rectangle_198_ga {
	fill: url(#Rectangle_198_ga);
}
.Rectangle_198_ga {
	position: absolute;
	overflow: visible;
	width: 97.492px;
	height: 138.262px;
	left: 8.863px;
	top: 0px;
}
#Male_Hair_Color {
	position: absolute;
	width: 111.674px;
	height: 111.673px;
	left: 0px;
	top: 14.181px;
	overflow: visible;
}
#NATURLICH_Name {
	position: absolute;
	width: 54.485px;
	height: 24.186px;
	left: 30.85px;
	top: 154.605px;
	overflow: visible;
}
#Path_2726 {
	fill: rgba(0,0,0,1);
}
.Path_2726 {
	overflow: visible;
	position: absolute;
	width: 54.484px;
	height: 7.255px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2744 {
	fill: rgba(0,0,0,1);
}
.Path_2744 {
	overflow: visible;
	position: absolute;
	width: 32.201px;
	height: 7.807px;
	left: 11.336px;
	top: 16.378px;
	transform: matrix(1,0,0,1,0,0);
}
#Checkout {
	position: absolute;
	width: 236.641px;
	height: 40.77px;
	left: 866.797px;
	top: 432.069px;
	overflow: visible;
}
#Rectangle_202 {
	fill: rgba(160,1,255,1);
}
.Rectangle_202 {
	position: absolute;
	overflow: visible;
	width: 236.641px;
	height: 40.77px;
	left: 0px;
	top: 0px;
}
#Text__Icon {
	position: absolute;
	width: 69.784px;
	height: 14.874px;
	left: 83.094px;
	top: 12.598px;
	overflow: visible;
}
#Path_2731 {
	fill: rgba(255,255,255,1);
}
.Path_2731 {
	overflow: visible;
	position: absolute;
	width: 50.957px;
	height: 8.731px;
	left: 18.826px;
	top: 4.056px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_material-lock-outline {
	fill: rgba(255,255,255,1);
}
.Icon_material-lock-outline {
	overflow: visible;
	position: absolute;
	width: 11.332px;
	height: 14.874px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}